# City Inspection Dataset

## Load Data

Python needs a MongoDB driver to access the MongoDB database.

In [2]:
pip install pymongo

Requirement already satisfied: pymongo in d:\anaconda\lib\site-packages (4.4.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in d:\anaconda\lib\site-packages (from pymongo) (2.3.0)
Note: you may need to restart the kernel to use updated packages.

Import the required modules

In [3]:
import pymongo

Establish a connection to MongoDB

In [4]:
client = pymongo.MongoClient('localhost', 27017)

Access the database and collection

In [5]:
db = client['city_inspection']
collection = db['col_city_inspection']

Display the JSON dataset in tabular form

In [6]:
import pandas as pd

Use the find() method to retrieve the data from the collection

In [7]:
# Fetch the data from MongoDB
data = collection.find()

# Convert the data to a pandas DataFrame
df = pd.DataFrame(data)

# Display the DataFrame
df

,_id,id,certificate_number,business_name,date,result,sector,address
0,56d61033a378eccde8a8354f,10021-2015-ENFO,9278806,ATLIXCO DELI GROCERY INC.,Feb 20 2015,Out Of Business,Cigarette Retail Dealer - 127,"{'city': 'RIDGEWOOD', 'zip': 11385, 'street': ..."
1,56d61033a378eccde8a83550,10057-2015-ENFO,6007104,LD BUSINESS SOLUTIONS,Feb 25 2015,Violation Issued,Tax Preparers - 891,"{'city': 'NEW YORK', 'zip': 10030, 'street': '..."
2,56d61033a378eccde8a83551,10084-2015-ENFO,9278914,MICHAEL GOMEZ RANGHALL,Feb 10 2015,No Violation Issued,Locksmith - 062,"{'city': 'QUEENS VLG', 'zip': 11427, 'street':..."
3,56d61033a378eccde8a83552,1012-2015-CMPL,5346909,A&C CHIMNEY CORP.,Apr 22 2015,Violation Issued,Home Improvement Contractor - 100,"{'city': 'QUEENS VLG', 'zip': 11428, 'street':..."
4,56d61033a378eccde8a83553,10127-2015-CMPL,5381180,ERIC CONSTRUCTION AND DECORATING INC.,Sep 8 2015,Violation Issued,Home Improvement Contractor - 100,"{'city': 'STATEN ISLAND', 'zip': 10304, 'stree..."
...,...,...,...,...,...,...,...,...
81042,56d61035a378eccde8a971e2,5543-2016-ENFO,9324981,TWO BROTHERS FASHION LTD,Jan 20 2016,No Violation Issued,Misc Non-Food Retail - 817,"{'city': 'JACKSON HEIGHTS', 'zip': 11372, 'str..."
81043,56d61035a378eccde8a971e3,10192-2016-ENFO,5393182,"PIEROTTI, ESTEBAN A.",Dec 16 2015,Violation Issued,Pedicab Business - 130,"{'city': 'NEW YORK', 'zip': 10019, 'street': '..."
81044,56d61035a378eccde8a971e4,4982-2016-ENFO,50066535,"SOHO GARDEN, INC.",Jan 22 2016,No Violation Issued,Cigarette Retail Dealer - 127,"{'city': 'NEW YORK', 'zip': 10012, 'street': '..."
81045,56d61035a378eccde8a971e5,4413-2016-ENFO,9314366,"NINE & ONE GROCERY, INC.",Jan 21 2016,No Violation Issued,Tobacco Prod'T Sales - 890,"{'city': 'BROOKLYN', 'zip': 11221, 'street': '..."
81046,64996a55601c6b71e3c706c5,10022-2023-ENFO,9278807,WowMurah Grocery Store,Jun 25 2023,Violation Issued,Food Retail - 100,"{'city': 'Tropical City', 'zip': 12345, 'stree..."

Extract the fields from the "address" column

In [8]:
df['city'] = df['address'].apply(lambda x: x['city'])
df['zip'] = df['address'].apply(lambda x: x['zip'])
df['street'] = df['address'].apply(lambda x: x['street'])
df['number'] = df['address'].apply(lambda x: x['number'])

# Drop the original "address" column
df = df.drop('address', axis=1)

# Display the updated DataFrame
df

,_id,id,certificate_number,business_name,date,result,sector,city,zip,street,number
0,56d61033a378eccde8a8354f,10021-2015-ENFO,9278806,ATLIXCO DELI GROCERY INC.,Feb 20 2015,Out Of Business,Cigarette Retail Dealer - 127,RIDGEWOOD,11385,MENAHAN ST,1712
1,56d61033a378eccde8a83550,10057-2015-ENFO,6007104,LD BUSINESS SOLUTIONS,Feb 25 2015,Violation Issued,Tax Preparers - 891,NEW YORK,10030,FREDERICK DOUGLASS BLVD,2655
2,56d61033a378eccde8a83551,10084-2015-ENFO,9278914,MICHAEL GOMEZ RANGHALL,Feb 10 2015,No Violation Issued,Locksmith - 062,QUEENS VLG,11427,214TH ST,8823
3,56d61033a378eccde8a83552,1012-2015-CMPL,5346909,A&C CHIMNEY CORP.,Apr 22 2015,Violation Issued,Home Improvement Contractor - 100,QUEENS VLG,11428,210TH ST,9440
4,56d61033a378eccde8a83553,10127-2015-CMPL,5381180,ERIC CONSTRUCTION AND DECORATING INC.,Sep 8 2015,Violation Issued,Home Improvement Contractor - 100,STATEN ISLAND,10304,TODT HILL RD,1233
...,...,...,...,...,...,...,...,...,...,...,...
81042,56d61035a378eccde8a971e2,5543-2016-ENFO,9324981,TWO BROTHERS FASHION LTD,Jan 20 2016,No Violation Issued,Misc Non-Food Retail - 817,JACKSON HEIGHTS,11372,ROOSEVELT AVE,8503
81043,56d61035a378eccde8a971e3,10192-2016-ENFO,5393182,"PIEROTTI, ESTEBAN A.",Dec 16 2015,Violation Issued,Pedicab Business - 130,NEW YORK,10019,WEST 59 STREET,
81044,56d61035a378eccde8a971e4,4982-2016-ENFO,50066535,"SOHO GARDEN, INC.",Jan 22 2016,No Violation Issued,Cigarette Retail Dealer - 127,NEW YORK,10012,PRINCE ST,40
81045,56d61035a378eccde8a971e5,4413-2016-ENFO,9314366,"NINE & ONE GROCERY, INC.",Jan 21 2016,No Violation Issued,Tobacco Prod'T Sales - 890,BROOKLYN,11221,KNICKERBOCKER AVE,686
81046,64996a55601c6b71e3c706c5,10022-2023-ENFO,9278807,WowMurah Grocery Store,Jun 25 2023,Violation Issued,Food Retail - 100,Tropical City,12345,Setia Street,123

## Data Cleaning

In [9]:
num_duplicates = df.duplicated().sum()
num_duplicates

0

In [10]:
unique_values = df['result'].unique()
unique_values

array(['Out Of Business', 'Violation Issued', 'No Violation Issued',
       'Pass', 'Fail', 'Unable to Locate', 'Closed',
       'No Evidence of Activity', 'Compliance Issued', 'Re-inspection',
       'Out of Business', 'Licensed', 'Completed', 'Posting Order Served',
       'NOH Withdrawn', 'License Confiscated', 'Samples Obtained',
       'ECB Warning Issued', 'Unable to Complete Inspection',
       'ECB Summons Issued', 'Condemned', 'Confiscated',
       'Unable to Seize Vehicle', 'Business Padlocked'], dtype=object)

In [11]:
# Count the occurrence of the misspelled value
df['result'].value_counts()['Out of Business']

7142

In [12]:
df['result'].value_counts()['Out Of Business']

1

In [13]:
# Change the misspelled value to the correct one
df['result'] = df['result'].replace('Out Of Business', 'Out of Business')

In [14]:
# Verify the change by counting the occurrence again
df['result'].value_counts()['Out of Business']

7143

In [15]:
# Convert 'date' column to datetime format
df['date'] = pd.to_datetime(df['date'])
df['date']

0       2015-02-20
1       2015-02-25
2       2015-02-10
3       2015-04-22
4       2015-09-08
           ...
81042   2016-01-20
81043   2015-12-16
81044   2016-01-22
81045   2016-01-21
81046   2023-06-25
Name: date, Length: 81047, dtype: datetime64[ns]

In [16]:
# Check for null values in the entire DataFrame
df.isnull()

,_id,id,certificate_number,business_name,date,result,sector,city,zip,street,number
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
81042,False,False,False,False,False,False,False,False,False,False,False
81043,False,False,False,False,False,False,False,False,False,False,False
81044,False,False,False,False,False,False,False,False,False,False,False
81045,False,False,False,False,False,False,False,False,False,False,False
81046,False,False,False,False,False,False,False,False,False,False,False

In [18]:
df_fi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81047 entries, 0 to 81046
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   business_name  81047 non-null  object
 1   result         81047 non-null  object
 2   sector         81047 non-null  object
 3   city           81047 non-null  object
dtypes: object(4)
memory usage: 2.5+ MB

## Machine Learning

In [78]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_extraction.text import CountVectorizer

sectors = df['sector'].tolist()
results = df['result'].tolist()

# Encode the results using LabelEncoder
label_encoder = LabelEncoder()
encoded_results = label_encoder.fit_transform(results)

# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(sectors, encoded_results, test_size=0.2, random_state=42)

# Vectorize the sectors using CountVectorizer
vectorizer = CountVectorizer()
X_train_vectors = vectorizer.fit_transform(X_train)
X_test_vectors = vectorizer.transform(X_test)

# Train the decision tree classifier
classifier = DecisionTreeClassifier()
classifier.fit(X_train_vectors, y_train)

new_sectors = ['Agriculture']

# Transform the new sectors using the fitted vectorizer
new_sectors_vectors = vectorizer.transform(new_sectors)

# Predict the results for the new sectors
predicted_results = classifier.predict(new_sectors_vectors)

# Decode the predicted results back to original labels
predicted_labels = label_encoder.inverse_transform(predicted_results)

for sectors, label in zip(new_sectors, predicted_labels):
    print(f"Sector: {sectors}, Predicted Result: {label}")

# Calculate and print the accuracy on the test set
accuracy = classifier.score(X_test_vectors, y_test)
print('Accuracy:', accuracy)

Sector: Agriculture, Predicted Result: Pass
Accuracy: 0.5898210980876002

In [83]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.feature_extraction.text import TfidfVectorizer

sectors = df['sector'].tolist()
results = df['result'].tolist()

# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(sectors, results, test_size=0.2, random_state=42)

# Vectorize the sectors using TF-IDF Vectorizer
vectorizer = TfidfVectorizer()
X_train_vectors = vectorizer.fit_transform(X_train)
X_test_vectors = vectorizer.transform(X_test)

# Train the random forest classifier
classifier = RandomForestClassifier()
classifier.fit(X_train_vectors, y_train)

new_sectors = ['YTJT BUSINESS SOLUTIONS']

# Transform the new sectors using the fitted vectorizer
new_sectors_vectors = vectorizer.transform(new_sectors)

# Predict the results for the new sectors
predicted_results = classifier.predict(new_sectors_vectors)

for sectors, label in zip(new_sectors, predicted_results):
    print(f"Sector: {sectors}, Predicted Result: {label}")

# Calculate and print the accuracy on the test set
predicted_test_results = classifier.predict(X_test_vectors)
accuracy = accuracy_score(y_test, predicted_test_results)
print('Accuracy:', accuracy)

Sector: YTJT BUSINESS SOLUTIONS, Predicted Result: Pass
Accuracy: 0.5898210980876002