In [2]:
# ALTERNATIVE 1 Chuncking
import pandas as pd

chunk_size = 1000  # Define the number of lines to process at a time

# Read the JSON file as text
with open('sales.json', 'r') as file:
    # Iterate over the file in chunks
    while True:
        try:
            # Read the next chunk of lines
            lines = [next(file) for _ in range(chunk_size)]
        except StopIteration:
            break

        # Join the lines back into a single string
        json_text = ''.join(lines)

        # Convert the JSON chunk to a DataFrame
        df = pd.read_json(json_text, lines=True)

        # Convert the DataFrame to JSON
        json_data = df.to_json(orient='records')
        
with open('sales.json', 'w') as file:
    file.write(json_data)

In [4]:
#Display the json file
df = pd.read_json('sales.json')
df

,_id,saleDate,items,storeLocation,customer,couponUsed,purchaseMethod
0,{'$oid': '5bd761deae323e45a93cdf88'},{'$date': {'$numberLong': '1385552602487'}},"[{'name': 'pens', 'tags': ['writing', 'office'...",San Diego,"{'gender': 'F', 'age': {'$numberInt': '49'}, '...",False,In store
1,{'$oid': '5bd761deae323e45a93cdf89'},{'$date': {'$numberLong': '1506841148057'}},"[{'name': 'printer paper', 'tags': ['office', ...",San Diego,"{'gender': 'M', 'age': {'$numberInt': '34'}, '...",False,Online
2,{'$oid': '5bd761deae323e45a93cdf8a'},{'$date': {'$numberLong': '1500370435259'}},"[{'name': 'envelopes', 'tags': ['stationary', ...",London,"{'gender': 'M', 'age': {'$numberInt': '26'}, '...",False,Online
3,{'$oid': '5bd761deae323e45a93cdf8b'},{'$date': {'$numberLong': '1507764245337'}},"[{'name': 'backpack', 'tags': ['school', 'trav...",London,"{'gender': 'M', 'age': {'$numberInt': '39'}, '...",False,In store
4,{'$oid': '5bd761deae323e45a93cdf8c'},{'$date': {'$numberLong': '1420542317489'}},"[{'name': 'binder', 'tags': ['school', 'genera...",Denver,"{'gender': 'F', 'age': {'$numberInt': '54'}, '...",False,Online
...,...,...,...,...,...,...,...
995,{'$oid': '5bd761deae323e45a93ce36b'},{'$date': {'$numberLong': '1453310950225'}},"[{'name': 'pens', 'tags': ['writing', 'office'...",Austin,"{'gender': 'F', 'age': {'$numberInt': '45'}, '...",False,In store
996,{'$oid': '5bd761deae323e45a93ce36c'},{'$date': {'$numberLong': '1417255781573'}},"[{'name': 'pens', 'tags': ['writing', 'office'...",Denver,"{'gender': 'F', 'age': {'$numberInt': '47'}, '...",False,In store
997,{'$oid': '5bd761deae323e45a93ce36d'},{'$date': {'$numberLong': '1514185371283'}},"[{'name': 'binder', 'tags': ['school', 'genera...",Denver,"{'gender': 'M', 'age': {'$numberInt': '29'}, '...",False,In store
998,{'$oid': '5bd761deae323e45a93ce36e'},{'$date': {'$numberLong': '1386414385510'}},"[{'name': 'notepad', 'tags': ['office', 'writi...",Denver,"{'gender': 'M', 'age': {'$numberInt': '59'}, '...",False,Online
999,{'$oid': '5bd761deae323e45a93ce36f'},{'$date': {'$numberLong': '1408343149739'}},"[{'name': 'envelopes', 'tags': ['stationary', ...",New York,"{'gender': 'M', 'age': {'$numberInt': '33'}, '...",False,Online

In [8]:
# ALTERNATIVE 2 Data Filtering and Aggregation

# takes the record where storelocation is Denver
filtered_data = df.loc[df['storeLocation'] == 'Denver']

# Group by purchaseMethod, count the records using sales id
aggregated_data = filtered_data.groupby('purchaseMethod').agg({'_id': 'count'})

aggregated_data

                _id
purchaseMethod
In store        187
Online           93
Phone            37

In [9]:
# ALTERNATIVE 3 Data Pagination
import pandas as pd

page_number = 1
page_size = 100

start_index = (page_number - 1) * page_size
end_index = start_index + page_size

# Fetch a subset of data for the current page
page_data = df.iloc[start_index:end_index]

In [10]:
page_data

,_id,saleDate,items,storeLocation,customer,couponUsed,purchaseMethod
0,{'$oid': '5bd761deae323e45a93cdf88'},{'$date': {'$numberLong': '1385552602487'}},"[{'name': 'pens', 'tags': ['writing', 'office'...",San Diego,"{'gender': 'F', 'age': {'$numberInt': '49'}, '...",False,In store
1,{'$oid': '5bd761deae323e45a93cdf89'},{'$date': {'$numberLong': '1506841148057'}},"[{'name': 'printer paper', 'tags': ['office', ...",San Diego,"{'gender': 'M', 'age': {'$numberInt': '34'}, '...",False,Online
2,{'$oid': '5bd761deae323e45a93cdf8a'},{'$date': {'$numberLong': '1500370435259'}},"[{'name': 'envelopes', 'tags': ['stationary', ...",London,"{'gender': 'M', 'age': {'$numberInt': '26'}, '...",False,Online
3,{'$oid': '5bd761deae323e45a93cdf8b'},{'$date': {'$numberLong': '1507764245337'}},"[{'name': 'backpack', 'tags': ['school', 'trav...",London,"{'gender': 'M', 'age': {'$numberInt': '39'}, '...",False,In store
4,{'$oid': '5bd761deae323e45a93cdf8c'},{'$date': {'$numberLong': '1420542317489'}},"[{'name': 'binder', 'tags': ['school', 'genera...",Denver,"{'gender': 'F', 'age': {'$numberInt': '54'}, '...",False,Online
...,...,...,...,...,...,...,...
95,{'$oid': '5bd761deae323e45a93cdfe7'},{'$date': {'$numberLong': '1485781852503'}},"[{'name': 'laptop', 'tags': ['electronics', 's...",Seattle,"{'gender': 'M', 'age': {'$numberInt': '54'}, '...",False,Online
96,{'$oid': '5bd761deae323e45a93cdfe8'},{'$date': {'$numberLong': '1396125041797'}},"[{'name': 'notepad', 'tags': ['office', 'writi...",Seattle,"{'gender': 'M', 'age': {'$numberInt': '32'}, '...",False,Online
97,{'$oid': '5bd761deae323e45a93cdfe9'},{'$date': {'$numberLong': '1361972851406'}},"[{'name': 'backpack', 'tags': ['school', 'trav...",San Diego,"{'gender': 'F', 'age': {'$numberInt': '49'}, '...",False,In store
98,{'$oid': '5bd761deae323e45a93cdfea'},{'$date': {'$numberLong': '1442314023722'}},"[{'name': 'binder', 'tags': ['school', 'genera...",Seattle,"{'gender': 'M', 'age': {'$numberInt': '66'}, '...",False,In store
99,{'$oid': '5bd761deae323e45a93cdfeb'},{'$date': {'$numberLong': '1370425432694'}},"[{'name': 'binder', 'tags': ['school', 'genera...",Austin,"{'gender': 'F', 'age': {'$numberInt': '56'}, '...",True,In store

In [14]:
# ALTERNATIVE 4 Data Compression and Chunked Responses
# Example: Compressing JSON data with gzip
import gzip
import json

import json

# Load the dataset from the file
with open('sales.json', 'r') as file:
    data = json.load(file)
    
compressed_data = gzip.compress(json.dumps(data).encode('utf-8'))

# Save the compressed data to a file
with open('compressed_data.json.gz', 'wb') as file:
    file.write(compressed_data)